<head>
  <title>TinyApp</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <style>
    body {
      font-family: 'Open Sans Condensed', sans-serif;
    }
    
    .login input{
      width: 180px;
    }
    
    .login input:focus{
      background-color: rgb(190, 178, 178);
    }
    button {
      color: #1f72f7;
      border-bottom: 2px solid;
      border-bottom-color: rgb(163, 0, 90);
    }
    
    button:hover {
      filter: saturate(52%);
    }
    
    .hide {
      visibility: hidden;
    }
    a {
      color: rgb(3, 3, 161);
      text-decoration: none;
    }
    
    a:hover {
      color: rgb(226, 43, 43);
    }
    
    .nav {
      font-weight: bolder;
      color: rgb(119, 30, 30);
    }
    
    form {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    span {
      color: rgb(81, 8, 83);
      font-size: 2ex;
    }
    .Welcome {
      font-size: 4ex;
      text-align: center;
      color: rgb(81, 8, 83);
      font-family: IDroid;
    }
    
  </style>
</head>
 <div class="Welcome">
   TinyURL
 </div>
<br>
<div><b><a href="/urls">HOME</a></b></div>
<br>
<% if( user ) { %> 
  <div class="nav"> 
      Welcome back  <%=user.email%>
    </div>
  <form method="POST" action="/logout">
    <button type='submit'>Logout</button>
  </form>
  <br>
  <%} else { %>
    <span>Before continuing, please <b><a href="/register">register</a></b> first.</span>
    <br>
    <span>If you're already a registered user, simply login <b><a href="/login"> here</a></b></a></span>
    <br>
    <br>
    <%}%>
    
    