<head>
    <title>TinyApp</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <style>
      body {
        font-family: 'Open Sans Condensed', sans-serif;
      }
    </style>
  </head>
<div class="nav"> Welcome to TinyURL.</div> 
<br>
<div><a href="/urls">HOME</a></div>
<br>