<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>
<body style="font-size:20px; padding:50px;">
  <form action="/register" method="POST" style="margin:150px; margin-bottom: 10px;">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password"> 
    <button type="submit">Register</button>
  </form>
</body>
</html>