<!DOCTYPE html>
<html lang="en">

  <body style="font-size:20px; padding:50px;">
    <% include partials/_header.ejs %>
    <p>Your short URL:  <b> <%= shortURL %> </b> </p>
    <p> Original URL: <b> <%=longURL%> </b> </p>
    <form method="POST" action="/urls/:id" style="margin: 15px auto 15px 150px;">
      <input type="text" name="update" value="http://">
      <button type="submit">Update</button>
    </form>
  </body>
</html>