<!DOCTYPE html>
<html lang="en">

<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>
  <form action="/urls" method="POST" style="margin:150px; margin-bottom: 10px;">
    <label for="longURL"><b>Enter a URL:</b></label>
    <br>
    HTTP  <input id="longURL"  type="text" name="longURL" value="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
  <form action="/urls" method="POST" style="margin:150px; margin-top: 0;">
    HTTPS  <input id="longURL" type="text" name="longURL" value="https://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
</body>
</html>